<div class="p-3">
  <div class="card">
    <div class="card-header text-center text-bg-primary fs-3">Uyghur Angular Course</div>
    <div class="card-body text-center">
      <h4>All Products</h4>
      <div class="card-body">

        <input type="text" [(ngModel)]="keyword" class="p-1"> {{keyword}}
        <button class="btn btn-outline-primary ms-2" (click)="searchProductByKeyword()">Search <i class="bi bi-search"></i></button>

      </div>
      <div class="error text-center text-danger fs-3" *ngIf="errorMessage">{{errorMessage}}</div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Product Id</th>
          <th>Product Name</th>
          <th>Product Pixel</th>
          <th>Product Price</th>
          <th>Product Checked</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products">
          <td>{{product.id}}</td>
          <td>{{product.productName}}</td>
          <td>{{product.pixel}}</td>
          <td>{{product.price}}</td>

          <td (click)="changeProductChecked(product)">
            <button class="btn btn-outline-primary">
              <i [class]="product.checked ? 'bi bi-check' : 'bi bi-circle'"></i>
            </button>
          </td>
          <td><button (click)="deleteProduct(product.id)" class="bi bi-trash btn btn-danger"></button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
