<div class="p-3">
    <div class="card text-center">
        <div class="card-body">
            <div class="alert alert-danger fs-3">
                Please check your username and your password, bad credentials !!
            </div>
            <div class="text text-center">
                <button class="btn btn-primary fs-3 text-center mt-2" routerLink="/login"><i class="bi bi-box-arrow-in-right"></i> <span class="me-2"></span>Sing In</button>
            </div>
        </div>
    </div>
</div>
